
<div class="container">]
    <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">
            <div class=" text-center mt-5 ">
    
              <h1 >Add Alert</h1>
          
          </div>
     
          <div class = "container">
                           <form id="contact-form" role="form">
    
          
    
          <div class="controls">
    
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="form_need">Type*</label>
                      <select id="form_need" name="need" class="form-control"  data-error="Please give us more Details if you can.">
                          <option value="" selected disabled>--Select the Alert Type--</option>
                          <option >Cardiac Emergency</option>
                          <option >Allergic Reaction</option>
                          <option >Unconscious Individual</option>
                          <option>Seizure Alert</option>
                          <option >Unconscious Individual</option>
                          <option >Unconscious Individual</option>
                          <option >Other</option>
                      </select>
                      
                  </div>
              </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_lastname">location*</label>
                          <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your location *" required="required" data-error="Lastname is required.">
                                                          </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="form_email">Email*</label>
                          <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                          
                      </div>
                  </div>
    
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="form_message">Details</label>
                          <textarea id="form_message" name="message" class="form-control" placeholder="you can write it with details here" rows="4"  data-error="Please, give us more Details if you can."></textarea
                              >
                          </div>
    
                      </div>
    
    
                  <div class="col-md-12">
                      
                      <input type="submit" class="btn btn-primary btn-send  pt-2 btn-block
                          " value="Send Alert" >
                  
              </div>
        
              </div>
    
    
      </div>
       </form>
      </div>
          </div>
    
    
    </div>
      <!-- /.8 -->
    
    </div>
    <!-- /.row-->
    
    </div>
    </div>
