<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Sousse Community</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Beja Community</a>
                  </li>
              </ul>
              <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Mahdia Community</a>
                </li>
            </ul>
            <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Mahdia Community</a>
              </li>
          </ul>
          <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Mounastir Community</a>
            </li>
        </ul>
        <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link" id="orders-tab" data-toggle="tab" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-users"></i>Gafsa Community</a>
          </li>
      </ul>
          
            </div>
        </div>
        <!-- lina -->
        
</div>
