body{
  background-color:#eee;
  margin-top:20px;
}

.list-timeline {
margin: 0;
padding: 5px 0;
position: relative
}

.list-timeline:before {
width: 1px;
background: #ccc;
position: absolute;
left: 6px;
top: 0;
bottom: 0;
height: 100%;
content: ''
}

.list-timeline .list-timeline-item {
margin: 0;
padding: 0;
padding-left: 24px !important;
position: relative
}

.list-timeline .list-timeline-item:before {
width: 12px;
height: 12px;
background: #fff;
border: 2px solid #ccc;
position: absolute;
left: 0;
top: 4px;
content: '';
border-radius: 100%;
-webkit-transition: all .3 ease-in-out;
transition: all .3 ease-in-out
}

.list-timeline .list-timeline-item[data-toggle=collapse] {
cursor: pointer
}

.list-timeline.list-timeline-light .list-timeline-item.active:before,
.list-timeline.list-timeline-light .list-timeline-item.show:before,
.list-timeline.list-timeline-light:before {
background: #f8f9fa
}

.list-timeline .list-timeline-item.list-timeline-item-marker-middle:before {
top: 50%;
margin-top: -6px
}

.list-timeline.list-timeline-light .list-timeline-item:before {
border-color: #f8f9fa
}

.list-timeline.list-timeline-grey .list-timeline-item.active:before,
.list-timeline.list-timeline-grey .list-timeline-item.show:before,
.list-timeline.list-timeline-grey:before {
background: #e9ecef
}

.list-timeline.list-timeline-grey .list-timeline-item:before {
border-color: #e9ecef
}
 .list-timeline.list-timeline-primary .list-timeline-item:before {
border-color: #1c61c8
}  
