<div class="container py-7">
  <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">
    Alert History
  </h2>
  <p class="text-sm text-dark mt-0 mb-5">In alerts, every second counts—potentially a life saved.</p>
  <!-- Days -->
  <div class="row">
    <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
      <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
        February
      </h4>
      <ul class="list-timeline list-timeline-primary">
       
        <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;">4th</span> -Traffic Accident</p>
          
        </li>
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2">  <span class="text-primary">2th</span>-Traffic Accident </p>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 mb-3" id="Saturday, Nov 14th">
      <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
       January
      </h4>
      <ul class="list-timeline list-timeline-primary" >
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase "><span class="text-inverse op-8">30th</span> -Fainting Incident </p>
        </li>
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-2-item-2">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">25th</span> -Medical Emergency </p>
        </li>
       
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-2-item-4">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">2th</span> -Unconscious Individual/p
        </li>
        
      
      </ul>
    </div>
    <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
      <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
       December
      </h4>
      <ul class="list-timeline list-timeline-primary">
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">30th</span> -Road Incident</p>
        </li>
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-3-item-2">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12th</span> -Car Crash</p>
    
        </li>
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">4th</span> -Medical Emergency</p>
        </li>
      </ul>
    </div>
  </div>
</div>
